*{
  margin: 0;
  a{
    transition: color .2s ease-in-out;
  }
  a:hover{
    text-decoration: none;
    transition: color .2s ease-in-out;
  }
}
.container{
  margin: 1rem auto;
  display: flex;
  justify-content: center;
}
.center{
  text-align: center;
  padding: 0.75rem;
}
h1{
  font-size: 2rem;
}
h2{
  font-size: 1.5rem;
}
h3{
  font-size: 1.25rem;
}
.slide-in-left-enter {
  transform: translateX(-100%);
}

.slide-in-left-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 200ms;
}

.slide-in-left-exit {
  transform: translateX(0%);
  opacity: 1;
}

.slide-in-left-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 200ms;
}